* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2f2153 !important;
  color: #fffefe !important;
}

#contenedor {
  margin-bottom: 3070px;

}
.family {
  font-family: 'Noto Sans Nag Mundari', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

#tittleGeneral {
  font-size: 35px;
}

#cards {
  margin-top: 60px;
  margin-left: 50px;
  width: 20rem;
  height: 30rem;
  text-align: center;
}

#imgPoster {
  width: 250px;
  margin-left: 20px;
  margin-top: 20px;
}

#titulos {
  font-size: 18rem !important;
}

.card {
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.card:hover {
  transform: scale(1.15);
}
.paginacion {
  position: fixed;
  bottom: 0;
  background: #100a1f;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
#btnBuscar{
  text-align: center;
  height: 50px;
  width: 180px;
  background: #4b377d;
  color: #fff;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

#btnBuscar:hover {
  background: #137c32;
}

.paginacion button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 200px;
  background: #241744;
  color: #fff;
  border-radius: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: .3s ease all;
}

.paginacion button:hover {
  background: #137c32;
}

/* Header */
#header1 {
  background-color: #241744;
}

ul {
  background: #241744;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

ul li {
  display: inline;
  margin-left: 25px;
  
}


a {
  color: #fff !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.contenido{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  
}
 .foto{ 
 position: relative;  
 overflow: hidden;  /* ocultar objetos fuera del contenedor */
 border-radius: 6px; 
 cursor:pointer;  
 
}
.foto img{   
  transition: all 500ms ease-out;
}
.capa{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  overflow-y: auto;    
  
}

.foto:hover > .capa{
  opacity: 1;
  visibility: visible;
}

.foto:hover > .capa h3{
  margin-top: 100px;
  margin-bottom: 15px;
}

.capa h3{
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
  
}
.capa p{
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}





